<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <div *ngFor="let input of inputList" class="mb-3">
        <label [for]="input.keyName" class="form-label">{{ input.label }}</label>
        <input type="text" class="form-control" [id]="input.keyName" [formControlName]="input.keyName" />
        <div *ngIf="getControl(input.keyName).errors && !getControl(input.keyName).pristine">
            <div *ngFor="let message of getErrorMessage(input.keyName)" >
                <small class="form-text text-muted">
                    {{ message }}
                </small>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Submit
    </button>
</form>
